{% extends 'base.html' %}
{% block title %}Entrar | Minha Farma{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card border-0 shadow-sm rounded-4">
            <div class="card-body p-4 p-lg-5">
                <h1 class="h3 mb-4">Entrar</h1>
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label">E-mail</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Senha</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <button class="btn btn-success w-100">Entrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
